name: Build xray windows

on:
  workflow_dispatch: 
  push:
    branches: [ "main" ]

jobs:
  build-windows:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'
          check-latest: true

      - name: Download Dependencies
        run: |
          go mod tidy

      - name: Build Xray (.exe)
        env:
          CGO_ENABLED: 0   
          GOOS: windows    
          GOARCH: amd64
        run: |
          go build -o xray_custom.exe -trimpath -ldflags "-s -w -buildid=" ./main

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Custom-Xray
          path: Custom-Xray.exe
          retention-days: 3
